body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(game-background-4956017.jpg) ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-attachment: fixed;
    
    
}


header {
  background-color: rgb(24, 18, 80);
  color: #c3ff1f;
  padding: 1em;
  position: sticky;
  top: 0;
}
    

#img1{
  margin: auto;
  cursor: pointer;
    
    
}
.login {
  max-width: 400px;
  margin: 100px auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 4px 4px 5px  ;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
}

button {
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(21, 99, 23);
}
.Btn {
  display:inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: RGB(29, 185, 84);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: black;
  
}
/* text */
.text {
  margin-left: 30px;
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 10%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

button:hover {
  background-color: #457ba0;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.imag{
  margin: 5px;
  display: inline-block;
}

.des{
  color: #c3ff1f;
}
#img1 {
  animation: rotateImage 10s infinite linear;  
}

@keyframes rotateImage {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

ul, li {
  margin: 0;
  padding: 0;
}
  

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}
  
  
header {
  color: #fff;  
  padding: 10px 20px;
  text-align: center;
  background-color: hsl(256, 84%, 31%); 
}
  
nav {
  margin-top: 10px; 
}
  

ul {
  list-style-type: none;
}
  
  
li {
  margin-right: 20px;
  display: inline-block; 
}
  
a {
  color: #fff; 
  font-weight: bold; 
  text-decoration: none; 
}
  

a:hover {
  color: hsl(202, 100%, 50%);
}
.pa p,ul,li{
  color: rgb(0, 0, 0);
  text-shadow: 5px 5px 5px rgb(78, 26, 181);
}
.H{
  text-align: center;
            color: gold;
            text-shadow: 5px 5px 5px rgb(137, 16, 167);
}
.h1formsg{
  color: rgb(255, 251, 0);
  font-family: Arial, Helvetica, sans-serif;
  height: 500px;
  width: 500px;
  font-size: xx-large;
}
.aservise{
  margin-top: 50px;
}
